/*
I was having problems with the footer staying at the bottom, sometimes it covered things up and others it would be
Randomly placed so this fixes those issues
 */

*{
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 100px;
}